<!DOCTYPE html>
<html lang="en">
<head>
	<title>Biker's Bay</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="styles/styles.css">
	<link rel="stylesheet" href="font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

	<div class="fullHeight">
		<% include partials/header.ejs %>
		<% include partials/navigation.ejs %>
		<div class="row fullHeight">

			<div class="column right fullHeight background2 fullWidth">

				<div class="maincontentConnections">
					<h5> About us</h5>
					<p>Biker's Bay is official website to register and participate in country racing challenges across USA.</p>
					<p>Your event is seen by more than just your contact list.</p><br>
					<p>As the #1 calendar of motorsport events online,<br>
          our events are viewed by 1,000,000 people per year, bringing new attendees to your event.</p><br>
					<p> Fill every event, every time ! <p>
				</div>
			</div>
		</div>
		<footer class="footer">
			<% include partials/footer.ejs %>
		</footer>
	</div>
</body>
</html>
