<!DOCTYPE html>
<html lang="en">
<head>
	<title>Biker's Bay</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="styles/styles.css">
	<link rel="stylesheet" href="font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

	<div class="fullHeight">
		<% include partials/header.ejs %>
		<% include partials/navigation.ejs %>
		<div class="row fullHeight">

			<div class="column right fullHeight background2 fullWidth">

        <div class="listConnections">
					<h3>Road Racing Events</h3>
					<ul>
						<% var x = 0;
						connections.forEach(function(item){

								if(x < 3){%>
						<li><a href="/connection?connectionID=<%= item.ConnectionID %>" >  <%= item.ConnectionName %> </a></li>
						<% }
						x++;
						});

						%>
					</ul>
					<h3>Endurance Racing Events</h3>
						<ul>
							<% var y = 0;
							connections.forEach(function(item){

										if(y >3){%>
							<a href="/connection?connectionID=<%= item.ConnectionID %>"> <li><%= item.ConnectionName %></a></li>
							<% }
							y++;
							});

							%>

						</ul>
					
				</div>
			</div>
		</div>
	</div>
		<foooter class="footer">
       <% include partials/footer.ejs %>
		</footer>
	
</body>
</html>
